.sidebarOption {
  display: flex;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  align-items: center;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebarOption_icon {
  padding: 0px 10px;

}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  opacity: 0.8;
}
